<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Result</title>
</head>
<body>
  <label for="studentName">Enter Name: </label>
  <input #studentNameInput placeholder="Student Name" type="text" id="studentName">
  <br>
  <label for="studentMark">Enter Mark: </label>
  <input #studentMarkInput placeholder="Student Mark" type="text" id="studentMark">
  <br>
  <button (click)="addStudent(studentNameInput.value, studentMarkInput.value)">Add Student</button>

  <h1>All Students</h1>
  <ul>
    <li *ngFor="let student of studentsList">
      <ng-container *ngIf="student.mark !=0">
      {{ student.name }} - {{ student.mark }}
    </ng-container>
    </li>
  </ul>

  <h2>Passing Students</h2>
  <app-pass [students]="studentsList"></app-pass>

  <h2>Failing Students</h2>
  <app-fail [students]="studentsList"></app-fail>
</body>
</html>
